{% extends 'myapp/profile.html' %}
{% block title %}Change Password{% endblock %}
{% block body %}
	<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
		<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<span class="login100-form-title p-b-37">
				Change password
			</span>

			<div class="wrap-input100 validate-input m-b-20">
				<input class="input100" type="password" name="password1" placeholder="Enter your password">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input m-b-25">
				<input class="input100" type="password" name="password2" placeholder="Enter it again">
				<span class="focus-input100"></span>
			</div>

			<div class="container-login100-form-btn">
				<button class="login100-form-btn">
					Change Password
				</button>
			</div>
		</form>			
	</div>
{% endblock %}
