{% extends 'myapp/profile.html' %}
{% block title %}YearBook - My comments{% endblock %}
{% block body %}

{% if comments  %}
<div style="margin-right: 5px;" class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
	<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<span class="login100-form-title p-b-37">
			Comments already written
		</span>
		{% for comment,forWhom,name in comments %}
		<label>For : {{ name }} ({{ forWhom }})</label>
		<input style="display:none" type="text" name="forWhom[]" value="{{ forWhom }}" readonly="readonly">
		<br>
		<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
			<p style="word-wrap: break-word">
				{{ comment }}
			</p>
		</div>
		<hr>
		{% endfor %}
	</form>
</div>
{% endif %}

{% if adj_dictionary  %}
<div style="margin-left: 5px; margin-top: 20px;" class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
	<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<span class="login100-form-title p-b-37">
			Adjectives already given
		</span>

		{% for user, adj_list in adj_dictionary.items %}
		<label>For : {{ name_dictionary|get_item:user }} ({{ user }})</label>
		<input style="display:none" type="text" name="forWhom[]" value="{{ p }}" readonly="readonly">
		<br>
		{% for adj in adj_list %}
		<span>
			{{ adj }} &nbsp;
		</span>
		{% endfor %}
		<hr>
		{% endfor %}
	</form>
</div>
{% endif %}

<div style="margin-left: 5px; margin-top: 20px; margin-bottom: 40px;" class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
	<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<span class="login100-form-title p-b-37">
			New/Modify Comment
		</span>
		<p style="text-align: center; color: red">{{comment}}</p>
		<div class="wrap-input100 validate-input m-b-20">
			<!-- <input class="input100" type="text" name="forWhom[]" placeholder="for whom"> -->
			<template id="students">
				{% for user in users %}
				<option value="{{user.username}}">{{user.student.name}}</option>
				{% endfor %}
			</template>
			<input id="user_id" class="input100" type="text" list="searchresults" name="forWhom[]" placeholder="Enter Name"
				autocomplete="off" onchange="changeContent()">
			<datalist id="searchresults">
			</datalist>
			<span class="focus-input100"></span>
		</div>
		<div class="wrap-input100 validate-input m-b-20">
			<textarea id="user_comment" class="input100" type="text" name="val[]" placeholder="Comment"></textarea>
			<span class="focus-input100"></span>
		</div>

		<div class="hiddenCB">
			<span class="hiddenCB-title">
				Select adjectives:
			</span>

			<div class="hiddenCB-options">
				{% for adj in adjective_list %}
				<input type="checkbox" name="adjectivesSelected" value={{adj}} id="{{adj}}"><label
					for="{{adj}}">{{ adj }}</label>
				{% endfor %}
			</div>
		</div>


		<script type="text/javascript">

			/* Limit max number of line breaks (new line) in textarea */
			var limit = 50;
			var textarea = document.getElementById("user_comment");

			textarea.onkeyup = function() {
				var lines = textarea.value.split("\n");

				if(lines.length>limit)
				{
					textarea.style.color = 'red';
					setTimeout(function(){
						textarea.style.color = '';
					},500);
				}    
				textarea.value = lines.slice(0, limit).join("\n");
			};

			/* Function to load previous comment and adjectives */
			function changeContent() {
				var selectedUser = document.getElementById("user_id").value;

				/* Load previous comments */
				var all_comments_given = '{{ comments_json|safe }}'; // Returns comments json as string
				all_comments_given = JSON.parse(all_comments_given); // Parse string into json object
				var found_comment = false;
				var textArea = document.getElementById("user_comment");

				for (let index = 0; index < all_comments_given.length; index++) {
					if (all_comments_given[index][1] == selectedUser) {
						textArea.value = all_comments_given[index][0];
						found_comment = true;
					}
				}

				if (!found_comment) {
					textArea.value = "";
				}

				/* Load previous adjectives */
				var all_adj_given = '{{ adj_dictionary_json|safe }}';
				all_adj_given = JSON.parse(all_adj_given);

				var adjective_list = '{{ adjective_list_json|safe }}';
				adjective_list = JSON.parse(adjective_list);

				adjective_list.forEach(element => {
					document.getElementById(element).checked = false;
				});

				if (all_adj_given.hasOwnProperty(selectedUser)) {
					var adjectives = all_adj_given[selectedUser];

					for (let index = 0; index < adjectives.length; index++) {
						const element = adjectives[index];
						document.getElementById(element).checked = true;
					}
				}
			}
		 </script>

		<div class="container-login100-form-btn">
			<button class="login100-form-btn">
				Comment
			</button>
		</div>
	</form>
</div>
{% load static %}
<script type="text/javascript" src="{% static 'myapp/commentList.js'%}"></script>
{% endblock %}
</body>

</html>