{% extends 'myapp/profile.html' %}
{% block title %}YearBook - Answers{% endblock %}
{% block body %}
	{% if genQuestions  %}
		<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
			<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<span class="login100-form-title p-b-37">
					Answers  <p style="text-align:center; color: #4b2354;"> Type in the input box and press [return] when done. </p>

				</span>
       				{% for id,question,val in genQuestions %}
					<h4>{{ question }} </h4>
          <h5 style="color: #4b2354"> {{ val|linebreaksbr }} </h5>
					<input style="display:none" type="text" name="id[]" value="{{ id }}" readonly="readonly">
						
					<!-- </input> -->
					<div class="wrap-input100 validate-input m-b-20 m-t-10">
						<input class="input100" type="text" name="answer[]"  value="" placeholder="Answer">
							
						<!-- </input> -->
						<span class="focus-input100"></span>
					</div>
					<hr>
				{% endfor %}

				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Submit
					</button>
				</div>
			</form>			
		</div>

	{% endif %}



{% endblock %}
</body>
</html>
