{% extends 'myapp/profile.html' %}
{% block title %}Other comments{% endblock %}
{% block body %}
	{% if comments  %}f
	<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
		<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<span class="login100-form-title p-b-37">
				Others' comments
			</span>
			{% for comment,fromWhom,displayInPdf in comments %}
				<h5>{{ comment }} from {{ fromWhom }}</h5>
				<input style="display:none" type="text" name="fromWhom[]" value="{{ fromWhom }}" readonly="readonly">
				<label>Display in pdf: </label>
				{% if displayInPdf == 'True' %}
					<select name = "val[]" >
						<option value="True">Yes</option>
						<option value="False">No</option>
					</select>
				{% else %}
					<select name = "val[]" >
						<option value="False">No</option>
						<option value="True">Yes</option>
					</select>
				{% endif %}
				<hr>
			{% endfor %}
			<div class="container-login100-form-btn">
				<button class="login100-form-btn">
					Edit Display
				</button>
			</div>
		</form>			
	</div>
	{% endif %}




{% endblock %}
</body>
</html>