{% extends 'myapp/profile.html' %}
{% block title %}Poll{% endblock %}
{% block body %}
	{% if allPolls %}
		<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
			<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<span class="login100-form-title p-b-37">
					All polls
				</span>
				{% for id,poll,val in allPolls %}
					<h5>{{ poll }}</h5>
					<input style="display: none" type="text" name="id[]" value="{{ id }}" readonly="readonly">
					<div class="wrap-input100 validate-input m-b-20">
						<!-- <input class="input100" type="text" name="entrynumber[]" value="{{ val }}" placeholder="Vote for someone"> -->
						<input class="input100" list="students2" name="entrynumber[]" value="{{ val }}" placeholder="Vote for someone" autocomplete="off">
						<datalist id="students2" scrollable>
							{% for user in users %}
								<option value="{{user.student.name}}" >{{user.username}}</option>

							{% endfor %}
						</datalist>
						<span class="focus-input100"></span>
					</div>
					<hr>
				{% endfor %}
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Vote
					</button>
				</div>
			</form>			
		</div>
	{% endif %}

  <!-- there are some changes made only in department polls add full
       functionality -->
	{% if deptPolls %}
		<div style="margin-left: 20px" class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
			<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<span class="login100-form-title p-b-37">
					Department polls
				</span>
				{% for id,poll,val,name in deptPolls %}
					<h5>{{ poll }}</h5>
					<input style="display: none" type="text" name="id[]" value="{{ id }}" readonly="readonly">
					<div class="wrap-input100 validate-input m-b-20">
						<input class="input100" list="students" name="entrynumber[]"
            value="{{ name }}" placeholder="Vote for someone" autocomplete="off">
						<datalist id="students" scrollable>
							{% for user in deptUsers %}
								<option value="{{user.student.name}}" >{{user.username}}</option>
							{% endfor %}
						</datalist>
						<span class="focus-input100"></span>
					</div>
					<hr>
				{% endfor %}
				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Vote
					</button>
				</div>
			</form>			
		</div>
	{% endif %}
{% endblock %}
</body>
</html>
