{% extends 'myapp/profile.html' %}
{% block title %}Poll{% endblock %}
{% block body %}
	<h1>Poll</h1>
	<a href="/yearbook/logout">Logout</a>
	<a href="/yearbook/profile">Profile</a>
	<a href="/yearbook/answer">Answer</a>
	<a href="/yearbook/changePassword">Change Password</a>
	<hr>
	<h2>All Polls</h2>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for id,poll,val in allPolls %}
			<p>Title : {{ poll }}</p>
				<label>Id: </label>
				<input type="text" name="id[]" value="{{ id }}" readonly="readonly">
				<br>
				<label>Vote for: </label>
				<input type="text" name="entrynumber[]" value="{{ val }}">
				<br>
		{% endfor %}
		<button>Vote</button>
	</form>
	<hr>
	<h2>Department Polls</h2>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for id,poll,val in deptPolls %}
			<p>Title : {{ poll }}</p>
				<label>Id: </label>
				<input type="text" name="id[]" value="{{ id }}" readonly="readonly">
				<br>
				<label>Vote for: </label>
				<input type="text" name="entrynumber[]" value="{{ val }}">
				<br>
		{% endfor %}
		<button>Vote</button>
	</form>
{% endblock %}
</body>
</html>