<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Profile{% endblock %}</title>
</head>
<body>
{% block body %}
	<h1>Profile</h1>
	<a href="/yearbook/logout">Logout</a>
	<a href="/yearbook/changePassword">Change Password</a>
	<a href="/yearbook/poll">Poll</a>

	<hr>
	<p>Name : {{ user.name }}</p>
	<p>Department : {{ user.department }}</p>
	<p>Phone : {{ user.phone }}</p>
	<p>Email : {{ user.email }}</p>
	<p>Oneliner : {{ user.oneliner }}</p>


	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label>Name: </label>
		<input type="text" name="name" value="{{ user.name }}">
		<br>
		<label>Department: </label>
		<input type="text" name="department" value="{{ user.department }}" readonly="readonly">
		<br>
		<label>Phone: </label>
		<input type="text" name="phone" value="{{ user.phone }}">
		<br>
		<label>Email: </label>
		<input type="email" name="email" value="{{ user.email }}">
		<br>
		<label>Oneliner: </label>
		<input type="text" name="oneliner" value="{{ user.oneliner }}">
		<br>
		<button>Edit</button>
	</form>


{% endblock %}
</body>
</html>