{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Profile{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/main.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/css/util.css'%}">
</head>
<body>

	{% block topbar %}
	<nav style="background: rgba(200,200,200,0.5);
/*  background: -webkit-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background: -o-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background: -moz-linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));
  background: linear-gradient(left, rgba(0,168,255,0.5), rgba(185,0,255,0.5));*/ position: relative; width: 100%" class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <!-- Links -->
	  <ul style="color:white !important;" class="navbar-nav">
	    <li class="nav-item">
			<a class="nav-link" href="/profile" style="color:white">Profile</a>
	    </li>
	    <li class="nav-item">
			<a class="nav-link" href="/otherComment" style="color:white">View others' comments</a>
	    </li>
	    <li class="nav-item">
			<a class="nav-link" href="/comment" style="color:white">Comment</a>
	    </li>
	    <li class="nav-item">
			<a class="nav-link" href="/answer" style="color:white">Answer</a>
	    </li>
	    <li class="nav-item">
			<a class="nav-link" href="/poll" style="color:white">Poll</a>
	    </li>
<!-- 	    <li style="position:absolute; right: 11%"  class="nav-item">
			<a class="nav-link"href="/changePassword" style="color:white">Change Password</a>
	    </li>
 -->
 	    <li style="position:absolute; right: 5%" class="nav-item">
		 	<a class="nav-link" href="/logout" style="color:white">Logout</a>
	    </li>
	  </ul>
	</nav>
	{% endblock %}
	<div class="container-login100">
		{% block body %}
			<div class="container">
					
				{% if user.DP %}
					<img style="margin:20px;height: 300px;width: auto;max-width: 30%;" class="img-thumbnail" src={{user.DP.url}}>
				{% endif %}
				{% if user.genPic1 %}
					<img style="margin:20px;height: 300px;width: auto;max-width: 30%;" class="img-thumbnail" src={{user.genPic1.url}}>
				{% endif %}
				{% if user.genPic2 %}
					<img style="margin:20px;height: 300px;width: auto;max-width: 30%;" class="img-thumbnail" src={{user.genPic2.url}}>
				{% endif %}
			</div>

			<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
				<form class="login100-form validate-form" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<span class="login100-form-title p-b-37">
						Profile
					</span>
					
					<div class="wrap-input100 validate-input m-b-20">
						<input style="color: black;background-color: #e0e0e0" class="input100" type="text" name="name" placeholder="Name"  value="{{ user.name }}" readonly="readonly">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20">
						<label style="color: #adabab;padding-left: 20px">Profile Picture: (max size 5MB) </label>
						<input style="color: #adabab;"class="input100" type="file" name="dp">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20">
						<span  class="focus-input100"></span>
						<input style="color: black;background-color: #e0e0e0" class="input100" type="text" name="department" placeholder="Department"  value="{{ user.department }}" readonly="readonly">
					</div>
					<div class="wrap-input100 validate-input m-b-20">
						<input class="input100" type="text" name="phone" placeholder="Phone"  value="{{ user.phone }}">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20">
						<input class="input100" type="email" name="email" placeholder="Email"  value="{{ user.email }}">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20">
						<input class="input100" type="text" name="oneliner" placeholder="One line intro"  value="{{ user.oneliner }}">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20">
						<label style="color: #adabab;padding-left: 20px">Group Picture 1 (Optional): (max size 5MB)</label>
						<input style="color: #adabab;"class="input100" type="file" name="genPic1">
						<span class="focus-input100"></span>
					</div>
					<div class="wrap-input100 validate-input m-b-20">
						<label style="color: #adabab;padding-left: 20px">Group Picture 2 (Optional): (max size 5MB) </label>
						<input style="color: #adabab;"class="input100" type="file" name="genPic2">
						<span class="focus-input100"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Save
						</button>
					</div>
				</form>			
			</div>

<!-- 
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<label>Group pic 1: </label>
				<input type="file" name="genPic1">
				<br>
				<label>Group pic 2: </label>
				<input type="file" name="genPic2">
				<br>
				<button>Edit</button>
			</form> -->
			

		{% endblock %}
	</div>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
  	$('input[type=file]').bind('change', function() {

	  //this.files[0].size gets the size of your file.
	  	if(parseInt(this.files[0].size) > 6000000){
	  		alert("Please upload smaller images")
	  		$('input[type=file]').val("")
	  		// this.files=""
	  		// this.val("")
	  	}
		});
  </script>
</html>