{% load static %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Yearbook</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/eebe89cf8b.js"></script>
    <!-- <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">    -->
    
    <!-- Theme CSS -->  
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/main.css'%}"> -->
    <link id="theme-style" rel="stylesheet" href="{% static 'myapp/css/yearbook/styles.css'%}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="heading">
        <h1>{{department}} Yearbook</h1>
        <h2>To the looney toons we sang here...</h2>
        <h3>Add a department pic</h3>

    </div>
    <div id="polls">
        <!-- Use this for polls -->
        {% if allPolls %}
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-comments"></i>General Polls</h2>
                <div class="skillset">   
                        {% for poll,votes in allPolls %}     
                            <div class="item">
                                <h3 class="level-title">{{poll}}</h3>
                                <br>
                                {% for ct,mem in votes %}
                                    <li>{{mem}}</li>
                                {% endfor %}
                            </div>
                        {% endfor %}   
                </div>  
            </section>
        {% endif %}    
        <!-- Use this for polls -->
        {% if deptPolls %}    
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-comments"></i>Department Polls</h2>
                <div class="skillset">   
                    {% for poll,votes in deptPolls %}     
                        <div class="item">
                            <h3 class="level-title">{{poll}}</h3>
                            <br>
                            {% for ct,mem in votes %}
                                <li>{{mem}}</li>
                            {% endfor %}
                        </div>
                    {% endfor %}  
                </div>
            </section>
        {% endif %}    
    </div>
    {% for student in students %}
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img style="height:250px;width: auto;max-width: 100%;" class="profile" src="{{student.DP.url}}" alt="" />
                <h1 class="name">{{student.name}}</h1>
                <h3 class="tagline">{{student.oneliner}}</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i>{{student.email}}</li>
                    <li class="phone"><i class="fa fa-phone"></i>{{student.phone}}</li>
                    <li class="email"><i class="fa fa-briefcase"></i>{{student.department}}</li>
                   
                </ul>
            </div><!--//contact-container-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
             <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Answers about yourself</h2>
                {% for ques,ans in student.AnswersAboutMyself %}
                    <div class="item">
                        <span class="job-title">{{ques}}</span> <br> <span class="project-tagline">{{ans}}</span>
                        
                    </div><!--//item-->
                {% endfor %}
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-list-ol"></i>What others have written for you</h2>
                
                {% for comment,fromWhom in student.CommentsIGet %}
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">{{fromWhom}}</h3>
                            </div><!--//upper-row-->
                        </div><!--//meta-->
                        <div class="details">
                            <p>{{comment}}</p>
                        </div><!--//details-->
                    </div><!--//item-->
                {% endfor %}
        </div><!--//main-body-->
    </div>
    {% endfor %}
    <div id="groupPics">
        Some group pics collage
    </div>
          
</body>
</html> 

