{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Yearbook</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Zilla+Slab&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/f6a9b938ff.js" crossorigin="anonymous"></script>
	<link id="theme-style" rel="stylesheet" href="{% static 'myapp/css/yearbook/styles.css'%}" type="text/css"
	<meta charset="UTF-8">
	<!-- <style type="text/css">
		* {
			margin: 0px;
			padding: 0px;
			border: 0px;
			font-family: 'Roboto', sans-serif;
			/*font-family: 'Zilla Slab', serif;*/
		}
		
	</style> -->
</head>
<body>
	<div id="heading">
        <h1  >Yearbook</h1>
        <!-- <h2>To the looney toons we sang here...</h2> -->
        <!-- <h3>Add a department pic</h3> -->
    </div>
    <div id="looney">
        <h1>{{department}}</h1>
        <h1>To the looney tunes we sang here...</h1>
    </div>
    <div id="departmentIntro">
        <h1>add the official group photo</h1>
    </div>
    <div id="polls">
        <!-- Use this for polls -->
        {% if allPolls %}
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-comments"></i> General Polls</h2>
                <div class="skillset"> 
                <div class="container">
                    <div class="row">  
                        {% for poll,votes in allPolls %}  
                            <div style="padding: 0px" class="col-md-4 card">
                              <div class="card-header">{{poll}}</div>
                              <div class="card-body">
                                {% for ct,mem in votes %}
                                    <li>{{mem}}</li>
                                 {% endfor %}
                              </div> 
                            </div>
                          {% endfor %} 
                        </div>
                    </div>  
                </div>  
            </section>
        {% endif %}   
        <hr> 
        <!-- Use this for polls -->
        {% if request.user.is_superuser %}

        {% if deptPolls %}
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-comments"></i> Department Polls</h2>
                <div class="skillset">   
                    <div class="container">
                      <div class="row">
                        {% for poll,votes in deptPolls %}  
                            <div style="padding: 0px" class="col-md-4 card">
                              <div class="card-header">{{poll}}</div>
                              <div class="card-body">
                                {% for ct,mem in votes %}
                                    <li>{{mem}}</li>
                                 {% endfor %}
                              </div> 
                            </div>
                        {% endfor %}  
                   </div>
                  </div>
                </div>  
            </section>
        {% endif %}   

        {% else %}
         <h2 class="section-title"><i class="fa fa-comments"></i> Department
           Polls (TBD) </h2>
              
        {% endif %}
	</div>
	
	{% for student in students %}
	<div class="wrapperCont">
		<div class="upperCont">
			<div class="upperContLeft">
				<img style="height:240px;width: auto;max-width: 100%;" src="{{student.DP.url}}">
			</div>
			<div class="upperContRight">
				<div class="upperContRightC1">
					<div class="bio">
						<span class="personName">{{student.name}} |</span>
						<span class="personTagline">{{student.oneliner}}</span>
					</div>
					<div class="personInfo">
						<i class="fas fa-envelope"></i>
						{{student.email}}
					</div>
					<div class="personInfo">
						<i class="fas fa-phone"></i>
						{{student.phone}}
					</div>
					<div class="personInfo">
						<i class="fas fa-university"></i>
						{{student.department}}
					</div>
					<div class="personInfo">
						<i class="fas fa-briefcase"></i>
						{{student.future}}
					</div>				
				</div>
				<div class="upperContRightC2">
					{% if student.AdjectivesIGet.count %}
						<div style="text-align: center;" class="wordcloud-container">
							<img style="height:260px;width: auto;max-width: 100%;" src="{{student.WordCloud.url}}" alt="" />
						</div>
            		{% endif %}
				</div>
			</div>
		</div>
		<div class="bottomCont">
			<div class="qSec">
				<div class="qSecTitle">
					<i class="fa fa-archive"></i>
					Answer's About Yourself -
				</div>
				<!-- <div class="qSeperator"></div> -->
				{% for ques,ans in student.AnswersAboutMyself %}
				<div class="qSecItem" style="word-wrap: break-word; page-break-inside: avoid;">
					<div class="question">{{ques}}</div>
					<div class="qSecSeperator"></div>
					<div class="answer">
						{{ans}}
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="qSec">
				<div class="qSecTitle">
					<i class="fa fa-list-ol"></i>
					What other's have written about you -
				</div>
				{% for comment,fromWhom in student.CommentsIGet %}
				<div class="qTileCont" style="word-wrap: break-word; page-break-inside: avoid;">
					<div class="qTile">
						<div class="qTileAuth">{{fromWhom}} ~</div>
						<div class="qTileComment">
							{{comment}}
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</body>
</html>